*{
    margin : 0 ;
    padding: 0 ; 
}

body{
    background-color:#09637E;
    text-align:center;
}
.container{
    height :70vh;
    display :flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center; 
    
}

.game{
    height : 60vmin;
    width : 60vmin;
    display :flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center; 
    gap : 1.5vmin;
}

.box{
    color: #088395;
    height: 18vmin ;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgb(70, 70, 70) ;
    font-size: 5vmin ;
    background-color:#EBF4F6;
}
#reset-btn{
    padding : 1rem;
    font-size : 11pt ;
    color : #7AB2B2;
    background-color:khaki;
    font-weight: bold;
    border-radius: 1rem;
}
#new-btn{
    padding : 1rem;
    font-size : 11pt ;
    color : #7AB2B2;
    background-color:khaki;
    font-weight: bold;
    border-radius: 1rem;
}

#msg{
    color : #7AB2B2;
    font-size : 5vmin;
}
.msg-container{
    height : 100vmin;
    display :flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap : 4rem;
}

.hide{
    display :none
}